*{
    margin:0 auto;
    padding:0;
}
body{
    display: grid;
    grid-template: 3fr 1fr 3fr / 1fr 3fr 1fr;
    font-size: 2rem;
    font-family: sans-serif;
    background-color: plum;
    color: #464646;
    justify-content: center;
    align-items: center;
}
header{
    margin-top: 10px;
    align-self: start;
    grid-area: 1 / 2 / span 1 / span 1;
}
#credits{
    grid-area: 1 / 2 / span 1 / span 1;
    align-self: end;
}
.cred{
    display: inline-block
}
#gameButtons{
    grid-area: 2 / 2 / span 1 / span 1;
    margin:30px;
    justify-self: center;
} 
button{
    background-color: orange;
    border-radius: 10px;
    border-color: #464646;
    min-width: 10rem;
    font-size: 1.5rem;
    min-height: 4rem;
    position: relative;
    top: 50%;
}
#gameStats{
    grid-area: 2 / 2 / span 1 / span 1;
    display: none;
    text-align: end;
}
#currentPhrase{
    grid-area: 3 / 2 / span 1 / span 1;
    align-self: start;
    text-decoration: underline;
}   
#typing{
    grid-area: 3 / 2 / span 1 / span 1;
    align-self: center;
    
}
.focus{
    background-color: orchid;
}
.done{
    color:black;
}

#instructions{
    position: absolute;
    margin: 0 auto;
    grid-column: 2 / span 1;
    display: none;
    border: 1px solid black;
    background-color: aqua;
    color: black;
}