*{
    margin:0 auto;
    padding:0;
}
body{
    display: grid;
    grid-template: 1fr 1fr 4fr / 1fr 3fr 1fr;
    font-size: 2rem;
    font-family: sans-serif;
    background-color: #dda0dd;
    color:floralwhite;
    justify-content: center;
    align-items: center;
}
header{
    margin: 0;
    grid-area: 1 / 2 / span 1 / span 1;
    justify-self: stretch;
    align-self: center;
    padding: 0;
}
aside{
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid #464646;
    background-color: black;
    color: aliceblue;
}
.cred{
    display: inline-block;
    width:30%;
}
#gameButtons{
    font-size: 1.5rem;
    margin: 30px;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    align-items: center;
    justify-content: center;
} 
button{
    background-color: black;
    border-radius: 5px;
    color: aliceblue;
    display: inline-block;
    border-color: #464646;
    min-width: 10rem;
    font-size: 1.5rem;
    min-height: 3.5rem;
    position: relative;
}
.card{
    height:100%;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5rem;
		border-radius: 5px;
    border-color: #464646;
}
.cardHeader{
    height: 25%;
    width: 100%;
    background-color: black;
    color: aliceblue;
    text-align: center;
}
.cardContent{
    height:75%;
    width:100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
}
#gameStats{
    grid-area: 2 / 2 / span 1 / span 1;
    display: none;
    text-align: end;
}
#currentPhrase{
    grid-area: 3 / 2 / span 1 / span 1;
    align-self: start;
    margin: 5%;
    text-decoration: underline;
		color: black;
}   
#typing{
    grid-area: 3 / 2 / span 1 / span 1;
    align-self: center;
    
}
.focus{
    background-color: orchid;
}
.done{
    color:black;
}
#instructions button, #credits button{
    background-color: plum;
}